<body>
  <head>
    <h1 class="sample_h_17">
      医療安全のための<br>
      申し送りアプリ
    </h1>
  </head>

  <div style="text-align:center;">
    <div class="side-bar-feature">
      <h4>↖︎左上のサイドバーからもメニューを表示できます</h4>
    </div>
  </div>

  <div class= "all-btn">
    <a href="posts" class="btn1">申し送り投稿へ</a>
    <a href="tweets" class="btn2">タスク管理へ</a>
    <a href="blogs" class="btn3">スケジュール<br>管理へ</a>
  </div>
  <br>
  <br>
  <div class= "feature-1-all">
    <a href="posts" class="feature-1">申し送り一覧</a>
    <h3 class= "feature-1-text">各部署の申し送りを分割して閲覧することができ、キーワードで<br>検索することが可能です。<br>また、申し送り部署・宛先が一目で分かる様に表示されています。<br>申し送りを投稿する際に、宛先を設定します。</h3>
  </div>
  <hr>
  <div class= "feature-2-all">
    <h3 class= "feature-2-text">申し送りから派生した仕事をやることリストに追加し<br>期間も設定できます。<br>やり忘れを防ぎ、計画的に業務を進行出来ます。</h3>
    <a href="tweets" class="feature-2">タスク管理機能</a>
  </div>
  <hr>
  <div class= "feature-3-all">
    <a href="blogs" class="feature-3">スケジューリング機能</a>
    <h3 class= "feature-3-text">業務をカレンダーに追加し、スケジューリングが可能です。<br>これで業務を計画的に進めることが出来ます。</h3>
  </div>
  <hr>
  <br>
  <br>
  <br>
  <div style ="text-align:center;">
    <div class="line-comments">
      <h2>　前職の先輩方（医療従事者）から当アプリ使用後の実際のフィードバック</h2>
    </div>
  </div>
  <div style=" text-align:center;">
    <div class="fb-chat1">
      <div class="fb1">
        <h4>アプリ使ってみたよ！使いやすかった。<br>それぞれの部署の申し送りがパソコン1台で見れるのは嬉しい😆でも１つ言うなら部署分けの投稿の中でもキーワード検索出来たらなお良かったかも！</h4>
      </div>
      <div class="fb-response1">
        <h4>使っていただき有難うございました。<br>確かに、各部署の投稿を探す際にキーワード検索は必要ですね。改善していきます！</h4>
      </div>
    </div><hr>
    <div class="fb-chat2">
      <div class="fb2">
        <h4>疾患の種類（脳外科、整形外科、内科とか）を分けることが出来たらいいかもよ？医療保険の加算もあるしね！全体的には良いんじゃない？</h4>
      </div>
      <div class="fb-response2">
        <h4>見て頂きありがとうございました😊患者の疾患の種類ですね、分かりました。改善していこうと思います。ありがとうございました！</h4>
      </div>
    </div>
  </div>
  <br>
  <br>
</body>