<body>
  <head>
    <h1 class="sample_h_17">
        So as to Medical safety
    </h1>
   <div class="cp_arrows">
	    <div class="cp_arrow cp_arrowfirst"></div>
	    <div class="cp_arrow cp_arrowsecond"></div>
    </div>
  </head>
  <h2 class = "first">
   【この"申し送り・情報共有アプリ"を作った経緯】<hr>
   前職では整形外科クリニックにて作業療法士として勤務していました。<br>医療従事者として働く中で、現場内での「申し送り・情報共有」は患者の予後に多大な影響を与えかねません。<br>
   部署が多い医療現場の中で、私が勤務していたクリニックは情報が紙媒体での共有状態でした。その中で共有不足によるミスが起こるたびに、何度も情報共有の在り方を考えさせられました。このアプリではそんな申し送り・情報共有不足による医療ミスを防ぐために考案したアプリです。
  </h2>
  <br>
  <br>
  <br>
  <div class="font2">
    <h1 style="text-align:center;">患者、スタッフ間ではではこんな声が聞かれていました</h1>
  </div>

  <div class="balloon-set-box left">
    <div class="icon-box">
      <img src="https://pictogram2.com/p/p0858/1.png" width="40" height="40" class="icon">
    </div>
    <figcaption></figcaption>
    <div class="balloon">
      <h3>前の先生の話と違うんだけど。。</h3>
    </div>
  </div>

  <div class="balloon-set-box right">
    <div class="icon-box">
      <img src="https://pictogram2.com/p/p0710/8.png" width="40" height="40" class="icon">
    </div>
    <div class="balloon">
      <h3>◯◯さん、容態急変したの？！私知らなかったんだけど。。</h3>
    </div>
  </div>

  <div class="balloon-set-box left">
    <div class="icon-box">
      <img src="https://pictogram2.com/p/p0858/1.png" width="40" height="40" class="icon">
    </div>
    <div class="balloon">
      <h3>前のリハビリではこれをやってもらったのに、　今回やってもらってない。。</h3>
    </div>
  </div>

  <div class="balloon-set-box right">
    <div class="icon-box">
      <img src="https://pictogram2.com/p/p0834/8.png" width="40" height="40" class="icon">
    </div>
    <div class="balloon">
      <h3>次回、来院した時には　◯◯　を渡して欲しかったのに。。</h3>
    </div>
  </div>
    <div style="text-align:center;">
      <div class="arrow-bottom"></div>
      <br>
      <div class="midashi">
       <h2>このアプリでは医療業界における申し送りのさまざまな問題点を解決しました</h2>
      </div>
      <div class="arrow-bottom"></div>
      <div class="list">
        <h2>投稿一覧機能</h2>
      </div>
      <div class="list-balloon">
        <h3>投稿時間、投稿部署を一目で把握できます。また投稿を閲覧した場合は閲覧済★をタップし、投稿を閲覧したか否かを把握できます</h3>
      </div>

      <div class="list2">
       <h2>新規投稿機能</h2>
      </div>
      <div class="list2-balloon">
       <h3>投稿する該当部署を選択し、後に部署別で投稿を閲覧することが出来ます。 また、画像投稿機能もついているのでMRIやCT画像を添付することもできます</h3>
      </div>

      <div class="list3">
       <h3>カレンダー機能</h3>
      </div>
      <div class="list3-balloon">
        <h3>利用者の診察日や計画書サイン等の予定をGoogleカレンダーに反映することが可能です</h3>
      </div>
    </div>
</body>